@font-face { 
  font-family: 'OpenSymbol';
  src: url('fonts/Orbitron-VariableFont_wght.ttf') format('ttf');
  }

html, body {
  margin: 0;
  padding: 0;
  font-size: .97rem;
  font-family: "Orbitron-VariableFont_wght"; 
  color: rgb(0, 255, 0); 
  background-color: black;
  position: absolute;

}

canvas {
  display: block;
}


/* From here on it's styling the sliders */

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 0rem;
  outline: none;
  border-radius: 0px;
  border: 1px solid rgb(0, 0, 0, 0);
  background: rgba(38, 255, 0, 0);

}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0);
  background: rgb(0, 255, 0);
  border-radius: 100px; /* round corners */

}

/* for firefox */
.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0);
  background: rgb(0, 255, 0);
  border-radius: 100px;
  position: relative;

}

.crosshair {cursor: crosshair;}
